@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Glacial";
    src: 
        local("Glacial"),
        url(../fonts/glacial-indifference/GlacialIndifference-Regular.otf);
        font-weight: normal;
    }

@font-face {
    font-family: "Glacial";
    src: 
        local("Glacial"),
        url(../fonts/glacial-indifference/GlacialIndifference-Bold.otf);
        font-weight: bold;
        }

:root {
    /* light */
    --azulescuro: #0F2544;
    --azulpiscina: #0097B2;
    --azul: #004AAD;

    /* dark */
    --azulalt: #007EAD;

    /* branco e preto */
    --branco: #FEFFFE;
    --cinza: #737373;    
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Glacial", sans-serif; */
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.300);
    background-color: var(--azulescuro);
}

header a {
    width: 45px;
    height: 45px;
    margin-right: 5%;
}

#header-logo {
    width: 100%;
    height: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  color: var(--azulpiscina);
}

#menu-icon {
    display: block;
    margin-left: 5%;
}

#menu-icon:hover {
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 5%;
    margin-top: 10vh;
    background-color: var(--azulescuro);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.300);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
}

nav.open {
    opacity: 1;
    visibility: visible;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 2%;
}

nav a:hover {
    color: var(--azulalt);
}

#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--azulalt);
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#whatsapp-icon {
    width: 50%;
    height: auto;
    margin-top: 25%;
}

footer {
    min-height: auto;
    padding: 5%;
    background-color: var(--azulescuro);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.300);
}

footer h2 {
    margin: 1% 0;
}

footer section {
    margin: 5% 0;
}

.link-icons {
    display: flex;
    align-items: center;
    margin: 3% 0;
}

footer a {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 2%;
}

footer a:hover {
    color: var(--azulalt);
}

footer address {
    font-style: normal;
}

address p {
    margin-left: 2%;
}

#rights {
    font-size: 0.8rem;
    text-align: center;
    color: var(--cinza);
    background-color: var(--azulescuro);
    padding: 2%;
}

/* main page styles */

#main-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-logo {
    width: 100%;
}

#articles-section {
    margin: 8%;
}

.main-articles {
    margin-bottom: 20%;
}

.main-articles h1 {
    color: var(--azulescuro);
    font-size: 2rem;
    margin: 5% 0;
}

.main-articles p {
    margin: 2% 0;
    text-align: justify;
    line-height: 1.5rem;
}

.article-image {
    width: 100%;
}

.more {
    text-decoration: none;
    color: var(--azulpiscina);
    float: right;
}

.more:hover {
    color: var(--cinza);
}

/* form page styles */

#form-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 13vh;
    margin-bottom: 5%;
}

#form-section h1 {
    font-size: 1.8rem;
    color: var(--azulescuro);
    text-align: center;
    margin: 0 0 3% 0;
}

#form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

label {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--azulescuro);
}

.input-style {
    font-family: "Glacial";
    border-style: solid;
    border-radius: 20px;
    border-color: var(--azulescuro);
    outline: none;
    margin: 2% 0 5% 0;
    font-size: 1rem;
    height: 2rem;
    text-indent: 0.8rem;
}

.input-style.message {
    font-size: 1.1rem;
    text-indent: 0.5rem;
    height: auto;
    padding: 5px;
    border-width: 2px;
}

#form-button {
    font-family: "Glacial";
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
    height: 3rem;

    border-style: solid;
    border-radius: 20px;
    border-color: var(--azulescuro);    
    background-color: var(--azulalt);
}

#form-button:hover {
    cursor: pointer;
}

/* nossa-equipe page */

#nossa-equipe-section {
    padding-top: 13vh;
    margin: 0 5% 5% 5%;
}

#nossa-equipe-section h1 {
    font-size: 1.8rem;
    text-align: center;
    color: var(--azulescuro);
    margin: 0 0 3% 0;
}

.profiles h2 {
    color: var(--azulescuro);
    margin: 5% 0 0 0;
}

.profiles h3 {
    color: var(--azulalt);
}

.profiles h3, .profiles p {
    margin: 2% 0;
    text-align: justify;
}

.profiles p {
    line-height: 1.5rem;
}

.profiles img {
    width: 100%;
    margin: 5% 0;
}

/* sobre-nos page */

#hm-color {
    color: var(--azulalt);
}

#sobre-nos-section {
    padding-top: 13vh;
    margin: 0 5% 5% 5%;
}

#sobre-nos-section h1 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--azulescuro);
    margin: 0 0 3% 0;
}

#sobre {
    text-align: justify;
    line-height: 1.5rem;
    margin: 5% 0;
}

#sobre p {
    margin: 2% 0;
}

#sobre ul {
    margin: 2% 0 0 5%;
}

#sobre h2 {
    color: var(--azulescuro);
    margin: 5% 0 0 0;
}

@media screen and (min-width: 1280px) {
    header a {
        margin-right: 3%;
    }

    nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        margin-top: 0%;
        background-color: var(--azulescuro);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.300);

        padding: 0 7.5%;
        opacity: 100%;
        visibility: visible;
        transition: opacity 0.3s ease-in;
        height: 10vh;
    }

    .link-icons.nav {
        width: 100%;
    }

    #main-content {
        min-height: 100vh;
    }
    
    #main-logo {
        width: 50%;
    }

    #articles-section {
        min-height: auto;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem 5rem;
    }

    .main-articles {
        margin-bottom: 0%;
    }

    footer {
        min-height: auto;
        padding: 0%;

        padding: 0 5%;
        display: flex;
    }

    footer h2 {
        margin: 3% 0;
    }
    
    footer section {
        width: 100%;
        margin: 2% 3%;
    }

    #rights {
        font-size: 0.8rem;
        text-align: center;
        color: var(--cinza);
        background-color: var(--azulescuro);
        padding: 1%;
    }

    /* form page styles */

    #form {
        width: 35%;
    }

    #form-section h1 {
        margin: 0;
    }

    /* nossa-equipe page */

    #nossa-equipe-section {
        margin: 0 20% 5% 20%;
    }

    /* sobre-nos page */

    #sobre-nos-section {
        margin: 0 20% 5% 20%;
    }
    
    #sobre ul {
        margin: 2% 0 0 2%;
    }
}